body h1 {
  margin-top: 2rem !important;
}
body #currency-rates {
  max-width: 350px;
  position: relative;
  margin: 0 auto 0 auto;
  border: 1px solid #AAA;
}
body #currency-rates tr {
  border: 1px solid #CCC;
}
body #currency-rates tr th {
  font-size: 1.25rem;
}
body #currency-rates tr th.currency-source, body #currency-rates tr th.currency-target {
  max-width: 150px;
}
body #currency-rates tr th.conversion {
  max-width: 50px;
}
body #currency-rates tr td {
  font-size: 1rem;
  max-width: 150px;
}
body #currency-rates tr td .currency-flag {
  margin-left: 1rem;
}
body #currency-rates tr td .currency-flag img {
  max-height: 2rem;
}
body #currency-rates td, body #currency-rates th {
  padding: 0.5rem;
}
body footer.footer#footer {
  position: relative;
  margin-top: 5rem;
}
