body {
  background: #EFEFEF;
}
body main {
  background: #FFF;
}
body main > .container {
  padding: 0 2rem 0 2rem;
}
body h1 {
  margin-top: 2rem !important;
}
body #btc-rates {
  max-width: 750px;
  min-width: 750px;
  width: 750px;
  position: relative;
  margin: 0 auto 0 auto;
  border: 1px solid #AAA;
}
body #btc-rates tr {
  border: 1px solid #CCC;
}
body #btc-rates tr th {
  font-size: 1.25rem;
  background: #EFEFEF;
}
body #btc-rates tr th.btc-timestamp {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}
body #btc-rates tr th.btc-price {
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}
body #btc-rates tr th.conversion {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}
body #btc-rates tr th.table-action {
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}
body #btc-rates tr td {
  font-size: 1rem;
  max-width: 150px;
  background: #FCFCFC;
}
body #btc-rates tr td .currency-flag {
  margin-left: 1rem;
}
body #btc-rates tr td .currency-flag img {
  max-height: 2rem;
}
body #btc-rates tr td.no-records {
  font-style: italic;
  text-align: center;
  width: 100%;
}
body #btc-rates td, body #btc-rates th {
  padding: 0.5rem;
}
body #btc-rates-snapshots {
  min-width: 1100px;
  width: 100%;
  position: relative;
  margin: 0 auto 0 auto;
  border: 1px solid #AAA;
}
body #btc-rates-snapshots tr {
  border: 1px solid #CCC;
}
body #btc-rates-snapshots tr th {
  font-size: 1.25rem;
  background: #EFEFEF;
}
body #btc-rates-snapshots tr th.btc-timestamp {
  max-width: 180px;
  min-width: 180px;
  width: 180px;
}
body #btc-rates-snapshots tr th.btc-price {
  max-width: 250px;
  min-width: 250px;
  width: 250px;
}
body #btc-rates-snapshots tr th.btc-check, body #btc-rates-snapshots tr th.conversion {
  max-width: 50px;
  min-width: 50px;
  width: 50px;
}
body #btc-rates-snapshots tr th.btc-note {
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}
body #btc-rates-snapshots tr th.table-action {
  max-width: 70px;
  min-width: 70px;
  width: 70px;
}
body #btc-rates-snapshots tr td {
  font-size: 1rem;
  max-width: 150px;
  background: #FCFCFC;
}
body #btc-rates-snapshots tr td .currency-flag {
  margin-left: 1rem;
}
body #btc-rates-snapshots tr td .currency-flag img {
  max-height: 2rem;
}
body #btc-rates-snapshots tr td.no-records {
  font-style: italic;
  text-align: center;
  width: 100%;
}
body #btc-rates-snapshots td, body #btc-rates-snapshots th {
  padding: 0.5rem;
}
body #btc-rates-snapshots_filter {
  margin-bottom: 1rem;
}
body #currency-rates {
  max-width: 500px;
  position: relative;
  margin: 0 auto 0 auto;
  border: 1px solid #AAA;
}
body #currency-rates tr {
  border: 1px solid #CCC;
}
body #currency-rates tr th {
  font-size: 1.25rem;
  background: #EFEFEF;
  text-align: center;
}
body #currency-rates tr th.currency-source {
  max-width: 150px;
  width: 150px;
  min-width: 150px;
}
body #currency-rates tr th.currency-target {
  max-width: 200px;
  width: 200px;
  min-width: 200px;
}
body #currency-rates tr th.conversion {
  max-width: 150px;
  width: 150px;
  min-width: 150px;
}
body #currency-rates tr td {
  font-size: 1rem;
  max-width: 150px;
  background: #FCFCFC;
}
body #currency-rates tr td .currency-flag {
  margin-left: 1rem;
}
body #currency-rates tr td .currency-flag img {
  max-height: 2rem;
}
body #currency-rates tr td.conversion {
  text-align: center;
}
body #currency-rates tr td.source, body #currency-rates tr td.target {
  text-align: right;
}
body #currency-rates tr td .no-records {
  font-style: italic;
  text-align: center;
}
body #currency-rates td, body #currency-rates th {
  padding: 0.5rem;
}
body footer.footer#footer {
  position: relative;
  margin-top: 5rem;
}
body .md-table-wrapper {
  position: relative;
  overflow-x: scroll;
}
body #delete-selected {
  width: auto;
  position: absolute;
  right: 0.75rem;
  top: 3rem;
}
@media screen and (max-width: 767px) {
  body #delete-selected {
    position: relative;
    top: 0;
    right: 0;
    margin-left: 0.75rem;
    margin-bottom: 0.75rem;
  }
}
@media screen and (max-width: 767px) {
  body #delete-selected {
    width: 100%;
  }
}
